@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 98%, 1;
    --foreground: 227, 26%, 17%, 1;

    --background-header: 0, 0%, 95%, 1;
    --background-overlay: 0, 0%, 100%, 1;

    --background-keyboard: 214, 9%, 84%, 1;

    --bg-toggle: url("./assets/bg-sun.png");

    --bg-icon: 0, 0%, 0%, 0.49;
  }

  .dark {
    --background: 226, 22%, 19%, 1;
    --foreground: 220, 9%, 87%, 1;

    --background-header: 220, 9%, 87%, 0.03;
    --background-overlay: 226, 22%, 19%, 0.89;

    --background-keyboard: 227, 19%, 42%, 1;

    --bg-toggle: url("./assets/bg-moon.png");

    --bg-icon: 0, 0%, 100%, 1;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Roboto", sans-serif;
  }
}

@layer components {
  main {
    margin-top: 83px;
    margin-bottom: 165px;
  }
  .center-full {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hold-head {
    max-width: 638px;
    height: 84px;
    border-radius: 15px;
    margin-bottom: 87px;
    position: relative;
  }
  .ico-info {
    position: absolute;
    left: 22px;
  }
  .ico-options {
    position: absolute;
    right: 109px;
  }
  .header-title {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 3px;
    justify-content: center;
    width: 100%;
  }

  .box-item {
    width: 76px;
    height: 76px;
    border-radius: 5px;

    font-size: 35px;
    font-weight: 800;
    @apply text-foreground;
  }
  .hold-keyboard {
    max-width: 638px;
    height: 238px;
    border-radius: 15px;
    margin-top: 43px;
  }
  .box-key {
    width: 44.665px;
    height: 51.046px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }
  .box-key.big {
    width: 71.783px;
    height: 51.046px;
    font-size: 15px;
  }
  .hold-modal {
    position: absolute;
    z-index: 100;
  }
  .hold-modal .overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
  }
  .hold-modal.stats {
    align-items: center;
    position: fixed;
  }
  .hold-modal .modal {
    padding-top: 57px;
    padding-bottom: 57px;
  }
  .hold-modal.stats .modal {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .hold-modal.stats .modal .modal-wrapper {
    padding: 54px 0px 27px 0px;
  }

  .modal {
    max-width: 546px;
    width: 100%;
    position: absolute;
  }
  .modal-wrapper {
    padding: 54px 16px 27px 42px;
    overflow: auto;
    border: 1px solid #000;
    border-radius: 15px;
  }
  .modal-wrapper h2 {
    font-size: 35px;
    font-weight: 800;
    line-height: 41px;
    text-align: center;
    padding-bottom: 32px;
  }
  .modal-wrapper p {
    font-size: 19px;
  }
  .info-content span.sub {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 26px;
    margin-top: 16px;
    display: inline-block;
  }
  .info-content .line-text {
    margin-top: 19px;
    margin-bottom: 23px;
  }
  .info-content .demo-word {
    list-style: none;
    display: flex;
    gap: 11px;
    justify-content: center;
  }
  .info-content .demo-word li {
    width: 76px;
    height: 76px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    @apply bg-background text-foreground border border-solid border-foreground;
    font-size: 35px;
    font-weight: 800;
  }
  .info-content .demo-word li.green {
    @apply bg-green border border-none;
  }
  .info-content .demo-word li.yellow {
    @apply bg-yellow border border-none;
  }
  .info-content .demo-word li.gray {
    @apply bg-gray border border-none;
  }
  .stats-content {
    display: flex;
    flex-flow: column;
  }
  .stats-content .item-stat {
    font-size: 21px;
  }
  .stats-content .item-stat span {
    font-size: 35px;
    font-weight: 800;
  }

  .button {
    width: 256px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    @apply bg-green text-white;
  }

  .switch {
    display: inline-block;
    height: 38px;
    position: relative;
    width: 78px;
  }
  .switch input {
    display: none;
  }
  .switch > span {
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
    background-repeat: no-repeat;
    background-size: 78px 38px;
  }
  .switch > span::before {
    bottom: 4px;
    content: "";
    height: 29.6px;
    left: 3.9px;
    position: absolute;
    transition: 0.4s;
    width: 27.3px;
    border-radius: 100%;
    background-repeat: no-repeat;
  }
  .switch > span:hover::before {
    opacity: 0.9;
  }
  .switch > span.light::before {
    box-shadow: -2px 1px 6px 0px rgba(0, 0, 0, 0.25);
    background-position: -10px -6px;
    background-size: 42px;
  }
  .switch > span.dark::before {
    box-shadow: 2px 1px 6px 0px rgba(0, 0, 0, 0.25);
    background-position: -5px -6px;
    background-size: 42px;
  }

  .switch input:checked + span::before {
    transform: translateX(44px);
  }
}
